@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.container{
    min-height: 100vh;
    background: #BCDAC4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 30px;
    padding-top: 30px;
}

.container .card_container{
    margin-bottom: -120px;
    position: relative;
    height: 250px;
    width: 500px;
}

.container .card_container .front_card{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background:linear-gradient(45deg, rgb(161, 86, 102), rgb(106, 49, 74));
    border-radius: 10px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    padding: 20px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}

.container .card_container .front_card .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 5px;
}

.container .card_container .front_card .image img {
    height: 50px;
}

.container .card_container .front_card .card_number{
    padding:40px 0;
    font-size: 18px;
    color:#fff;
}

.container .card_container .front_card .flexbox{
    display: flex;
}

.container .card_container .front_card .flexbox .box:nth-child(1){
    margin-right: auto;
}

.container .card_container .front_card .flexbox .box{
    font-size: 12px;
    color:#fff;
}

.container .card_container .back_card{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(45deg, rgb(161, 86, 102), rgb(106, 49, 74));
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
}

.container .card_container .back_card .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.container .card_container .back_card .box{
    padding: 0 20px;
}

.container .card_container .back_card .box span{
    color:#fff;
    font-size: 15px;
}

.container .card_container .back_card .box .cvv_box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color: black;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.container .card_container .back_card .box img{
    margin-top: 30px;
    height: 30px;
}

.container form{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    width: 550px;
    padding-top: 160px;
}

.container form .inputBox{
    margin-top: 20px;
}

.container form .detailsBox {
    margin-top: 20px;
}

.container form .inputBox span{
    display: block;
    color:#999;
    padding-bottom: 5px;
    font-size: 12px;
}

.inputBox .horizontal-input-stack {
    display: flex;
    gap: .5rem;
}

.inputBox .cc-inputs input {
    width: 4ch;
}

.container form .detailsBox span{
    display: block;
    color:#999;
    padding-bottom: 5px;
    font-size: 12px;
}

.container form .inputBox input,
.container form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}

.container form .detailsBox input,
.container form .detailsBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}

.container form .flexbox{
    display: flex;
    justify-content: space-between;
}

.container form .detailsBox .exp_date {
    display: flex;
    gap: 2rem;
    width: 200px;
}

.container form .detailsBox .cvv_input {
    width: 120px;
}

.container form .flexbox .inputBox{
    flex:1 1 150px;
}

.container form .submit-btn{
    width: 100%;
    background: rgb(68, 147, 151);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.container form .submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}

@media(max-width: 426px){
    .container .card_container{
        margin-bottom: -100px;
        position: relative;
        height: 200px;
        width: 350px;
    }
    .container .card_container .front_card{
        padding: 15px;
        border-radius: 8px;
    }
    .container .card_container .front_card .image img {
        height: 30px;
    }
    .container .card_container .front_card .image{
        padding-top: 2px;
    }
    .container .card_container .front_card .card_number{
        padding:30px 0;
        font-size: 14px;
    }
    .container .card_container .back_card{
        padding: 15px 0; 
    }
    .container .card_container .back_card .stripe{
        margin: 8px 0;
        height: 35px;
    }
    .container .card_container .back_card .box{
        padding: 0 15px;
    }
    .container .card_container .back_card .box span{
        font-size: 12px;
    }
    .container .card_container .back_card .box .cvv_box{
        height: 35px;
        padding: 8px;
        margin-top: 5px;
        background: #fff;
        border-radius: 3px;
    }
    .container .card_container .back_card .box img{
        margin-top: 25px;
        height: 25px;
    }
    .container form{
        border-radius: 8px;
        padding: 15px;
        width: 380px;
        padding-top: 120px;
    }
    .container form .detailsBox .cvv_input {
        width: 100px;
    }
    .container form .detailsBox .exp_date {
        display: flex;
        gap: 1rem;
        width: 150px;
    }
    .container form .submit-btn{
        padding: 8px;
        font-size: 16px;
    }
    .container form .inputBox input,
    .container form .inputBox select{
        padding: 8px;
        border-radius: 8px;
    }

    .container form .detailsBox input,
    .container form .detailsBox select{
        padding: 8px;
        border-radius: 8px;
    }
}
@media(max-width: 376px){
    .container .card_container{
        margin-bottom: -100px;
        position: relative;
        height: 180px;
        width: 300px;
    }
    .container .card_container .front_card{
        padding: 10px;
    }
    .container .card_container .front_card .card_number{
        padding:25px 0;
    }
    .container .card_container .back_card{
        padding: 10px 0; 
    }
    .container .card_container .back_card .stripe{
        margin: 8px 0;
        height: 35px;
    }
    .container .card_container .back_card .box img{
        margin-top: 20px;
        height: 20px;
    }
    .container form{
        border-radius: 8px;
        padding: 15px;
        width: 330px;
        padding-top: 110px;
    }
    .container form .detailsBox .cvv_input {
        width: 80px;
    }
    .container form .detailsBox .exp_date {
        display: flex;
        gap: .8rem;
        width: 150px;
    }
    .container form .submit-btn{
        padding: 8px;
        font-size: 14px;
    }
    .container form .inputBox input,
    .container form .inputBox select{
        padding: 6px;
        border-radius: 8px;
    }

    .container form .detailsBox input,
    .container form .detailsBox select{
        padding: 6px;
        border-radius: 8px;
    }
}
@media(max-width: 321px){
    .container .card_container{
        margin-bottom: -100px;
        position: relative;
        height: 180px;
        width: 270px;
    }
    .container form{
        border-radius: 8px;
        padding: 15px;
        width: 290px;
        padding-top: 110px;
    }
}